excludes = ["*.pub", "*.png", "*.lock", "*.md", "*toml", "private-settings", ".git*", "*.yml"]


[formatter.nixfmt]
command = "nixfmt"
includes = ["*.nix"]

[formatter.deadnix]
command = "deadnix"
options = ["-f"]
includes = ["*.nix"]

[formatter.ruff]
command = "sh"
options = ["-c", "ruff check \"$@\" && ruff format \"$@\"", "--"]
includes = ["*.py", "*.pyi"]
